body {
  background-image: url(./images/star-wars-backgrounds-12-1.jpg);
  /* background-size: cover; */
  background-repeat: no-repeat;
}

.App {
  text-align: center;

}
.Header {
  color: #000000;
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
  padding: 4% 4% 0 4%;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}
/* write your parent styles in here for your App.js */
